# ##########################################
#    CODEOWNERS - AssetGuard Server Modules
# ##########################################

# Engine Module
/src/engine/              @assetguard/devel-xdrsiem-server-div3 @assetguard/devel-xdrsiem-server-leaders
/docs/ref/modules/engine/ @assetguard/devel-xdrsiem-server-div3 @assetguard/devel-xdrsiem-server-leaders

# Indexer connector
/src/shared_modules/indexer_connector/ @assetguard/devel-xdrsiem-server-div1 @assetguard/devel-xdrsiem-server-div3 @assetguard/devel-xdrsiem-server-leaders

# Framework and API

/framework/ @assetguard/devel-xdrsiem-server-div2 @assetguard/devel-xdrsiem-server-leaders
/api/ @assetguard/devel-xdrsiem-server-div2 @assetguard/devel-xdrsiem-server-leaders

# VD/IS
/src/assetguard_modules/inventory_sync/          @assetguard/devel-xdrsiem-server-div1 @assetguard/devel-xdrsiem-server-leaders
/src/assetguard_modules/vulnerability_scanner/   @assetguard/devel-xdrsiem-server-div1 @assetguard/devel-xdrsiem-server-leaders

# ##########################################
#           AssetGuard Agent Modules
# ##########################################

# Agent Modules

# ##########################################
#            Shared Modules
# ##########################################

# Shared Modules
