*.so
*.so.*
*.o
*.a
*.dSYM
.DS_Store
*.pyc
*.dll
*.exe
*.dylib

# Auto generated build files
src/LOCATION
src/isbigendian.c
etc/ossec.mc
src/Config.OS
src/selinux/*.mod
src/selinux/*.pp
framework/assetguard/core/assetguard.json
src/**/build/*
tools/**/build/*
src/generated_headers/*.h
src/generated_headers/*.hpp
src/assetguard_modules/sca/build
src/assetguard_modules/sca/coverage_report

# Compiled programs
src/clear_stats
src/isbigendian
src/manage_agents
src/ossec-agentd
src/ossec-agentlessd
src/ossec-analysisd
src/ossec-authd
src/ossec-csyslogd
src/ossec-dbd
src/ossec-execd
src/ossec-logcollector
src/ossec-maild
src/ossec-makelists
src/ossec-monitord
src/ossec-regex
src/assetguard-regex
src/parallel-regex
src/ossec-remoted
src/ossec-reportd
src/ossec-syscheckd
src/ossec-integratord
src/rootcheck_control
src/syscheck_control
src/syscheck_update
src/verify-agent-conf
src/assetguard-modulesd
src/assetguard-auth
src/assetguard-db
src/assetguard-agentd
src/assetguard-agentlessd
src/assetguard-analysisd
src/assetguard-authd
src/assetguard-csyslogd
src/assetguard-dbd
src/assetguard-execd
src/assetguard-logcollector
src/assetguard-logtest-legacy
src/assetguard-maild
src/assetguard-monitord
src/assetguard-remoted
src/assetguard-reportd
src/assetguard-syscheckd
src/assetguard-integratord
src/assetguard-keystore
src/assetguard-keystore-testtool
src/assetguard-manager-keystore
src/assetguard-manager-authd
src/assetguard-manager-db
src/assetguard-manager-modulesd
src/assetguard-manager-monitord
src/assetguard-manager-remoted

# Active responses
src/firewall-drop
src/default-firewall-drop
src/pf
src/npf
src/ipfw
src/firewalld-drop
src/disable-account
src/host-deny
src/ip-customblock
src/restart-assetguard
src/route-null
src/kaspersky
src/assetguard-slack

# Windows agent
src/win32/*.exe
src/win32/LICENSE.txt
src/win32/default-local_internal_options.conf
src/win32/default-ossec.conf
src/win32/help_win.txt
src/win32/internal_options.conf
src/win32/restart-ossec.cmd
src/win32/route-null.cmd
src/win32/netsh-win-2016.cmd
src/win32/route-null-2012.cmd
src/win32/netsh.cmd
src/win32/VERSION.json
src/libassetguardshared.*
src/libassetguardext.*

# Eclipse files
.cproject
.project
.settings/

# Visual Studio Code files
.vscode

# temporary vim files
*.swp
*.swo
.cache/

# patch files
*.rej
*.orig

# test and coverage files
*.gcno
*.gcda
src/TEMP.db
src/local.db*
src/coverage-report/
src/data_provider/coverage_report/
src/shared_modules/dbsync/coverage_report/
src/shared_modules/dbsync/smokeTests/output/
src/shared_modules/dbsync/smokeTests/temp.db*
src/shared_modules/sync_protocol/coverage_report/
src/shared_modules/utils/coverage_report/
src/shared_modules/utils/tests/coverage_report
src/syscheckd/coverage_report/
src/assetguard_modules/syscollector/coverage_report/
src/syscheckd/coverage_report
src/syscheckd/src/db/smokeTests/output
src/ossec.test
src/tap_*
etc/preloaded-vars.conf

# unit tests
src/unit_tests/build/*

# api tests
api/test/integration/_test_results

# Old firewall-drop.sh (moved to default-firewall-drop.sh)
src/active-response/firewall-drop.sh

# Databases commits
framework/assetguard/rbac/migrations/versions/*

# Documentation files
documentation/
doxygen_config.cfg
doxygen_errors.txt

# Flatbuffers generated headers.
src/shared_modules/utils/flatbuffers/include/
src/assetguard_modules/syscollector/include/*_generated.h
src/assetguard_modules/vulnerability_scanner/include/*_schema.h
src/assetguard_modules/vulnerability_scanner/include/*_generated.h

# Test files
src/assetguard_modules/vulnerability_scanner/qa/test_data/*/input_*.bin
cov-int
assetguard.tgz
src/*.log
src/result-*.txt

# Tool files
tools/repository_bumper_*
